@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&display=swap');

html {
    font-family: "Segoe UI", "San Francisco", "Source Sans Pro", sans-serif;
}

body {
    overflow: hidden;
    user-select: none;
}

#titlebar {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 25px);
    height: 25px;
    -webkit-app-region: drag;
}

#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 75px;
    width: 75px;
    left: 25px;
}

#info {
    position: absolute;
    top: 50%;
    left: 125px;
    transform: translateY(-50%);
}

#label {
    font-size: 18px;
}

#description {
    font-size: 14px
}

#stats {
    margin-top: 10px;
    font-size: 12px;
}

#close {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}